/* tailwind.css or tailwind.scss */

@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
    font-family: "Nunito", sans-serif !important;
  }
  #btn {
    border: none;
    font-size: 15px;
    color: #fff;
    border-radius: 7px;
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s;
    /* transition-property: box-shadow; */
    background: #D2B687;
    box-shadow: 0 0 25px #D2B687;
}

#btn:hover {
    background: #dab678;
    box-shadow: 0 0 5px #dab678,
                0 0 25px #dab678,
                0 0 50px #dab678,
                0 0 100px #dab678;
}
